<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="classes" thread-count="10" name="All Test Suite">
    <listeners>
        <listener class-name="com.restfulReads.listeners.RetryTransformer" />
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Auth Tests">
        <classes>
            <class name="com.restfulReads.tests.AuthTest" />
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="Book Tests">
        <classes>
            <class name="com.restfulReads.tests.BookServiceTest" />
        </classes>
    </test>
</suite>